body {
	font-family: Gill Sans MT;
}

.dropdown-button {
	font-size: 20px;
}

#home-icon {
	margin-top: .1em;
	padding-left: .48em;
	margin-left: .2em;
}

.navbar-element {
	font-size: 20px;
}

/*#titleblock {
	height: 400em;
}*/