/* All CSS code by Sam Paniccia. Using Google Materialize Design API.  */

* {
	//border: 1px solid red;
}

body {
	font-family: Gill Sans MT;
	margin-bottom: -10em;
}

#titleblock {
	margin-top: 4em;
}

.dropdown-button {
	font-size: 20px;
}

#wip-header {
	margin-top: 6em;
	margin-left: 3em;
	margin-right: 3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 3em;
}

#wip-header-text {
	font-size: 48px;
}

#wip-content {
	margin-top: 4em;
	margin-left: 5em;
	margin-right: 5em;
	border-radius: 3em;
}

#wip-content-text {
	font-size: 20px;
}

#home-icon {
	margin-top: .1em;
	padding-left: .48em;
	margin-left: .2em;
}

.navbar-element {
	font-size: 20px;
}

#center-titleblock {
	margin-bottom : 5em;
}

#front-content {
	margin-bottom: 8em;
}

.jumpto {
	margin-bottom: 2em;
	visibility: hidden;
}

#intro-blurb {
	border-radius: 2em;
	margin-left: 2em;
}

#right-content {
	margin-right: 2em;
	font-size: 18px;
} 

#about-me {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 8em;
}

.about-me-text {
	border-radius: 1em;
}

.subheader {
	border-radius: 2em;
}

#projects-git {
	margin-bottom: 2em;
}

.collection-item {
	font-size: 26px;
}

#projects-list {
	margin-bottom: 8em;
}

#khc-content {
	font-size: 20px;
	margin-bottom: 4em;
	border-radius: 2em;
	padding: 1em;
}